# تجاهل البيئة الافتراضية
venv/

# تجاهل ملفات النمباي الضخمة
X_multi.npy
y_multi.npy

# تجاهل الفيديوهات في أي مكان
*.mp4
*.mov
*.avi
data/videos/

# تجاهل ملفات النظام والمؤقتة
__pycache__/
.DS_Store